In [5]:
a="Learning python is very easy."
print(a[::])
print(a[::-1])

Learning python is very easy.
.ysae yrev si nohtyp gninraeL

# Important functions of tuple

In [1]:
# 1) len()
t=(20,30,40,50)
print(len(t))

4

In [4]:
# 2) count()
t=(1,2,2,3,3,3,1,1,2,4,5)
print(t.count(2))
print(t.count(1))
print(t.count(27))

3
3
0

In [10]:
# 3) index()
# returnns the index first occurance of given element, if specified element is not available then we will get valueError
t=(10,20,10,1,0,30)
print(t.index(10))
print(t.index(10,2,4))
#print(t.index(8))       #gives valueError

0
2

In [9]:
# index function also work for string
s="Hello world"
print(s.index("l"))

2

In [12]:
# 4) sorted()
t=(10,30,40,50,20)
print(sorted(t))

[10, 20, 30, 40, 50]

In [15]:
# sorted also work for string
x=""
s="Hello"
s1=sorted(s)
print(s1)
for i in s:
    x=x+i
    print(x)

['H', 'e', 'l', 'l', 'o']
H
He
Hel
Hell
Hello

In [17]:
t=(10,20,40,30,50)
t1=sorted(t,reverse=True)
print(t1)

[50, 40, 30, 20, 10]

In [19]:
# 5) min() and max() fumction
t=(10,20,40,50,30)
print(min(t))
print(max(t))

10
50

In [20]:
# tuple packing and unpacking
a=10
b=20
c=30
d=40
t=a,b,c,d
print(t)

(10, 20, 30, 40)

In [21]:
t=(10,20,30,40)
a,b,c,d=t
print(a,b,c,d)

10 20 30 40

In [22]:
# loop through tuple
t=("apple","banana","cherry")
for i in t:
    print(t)

('apple', 'banana', 'cherry')
('apple', 'banana', 'cherry')
('apple', 'banana', 'cherry')

In [23]:
t=("apple","banana","cherry")
for i in range(len(t)):
    print(t[i])

apple
banana
cherry

In [25]:
t=("apple","banana","cherry")
i=0
while i!=len(t):
    print(t[i])
    i=i+1

apple
banana
cherry

In [26]:
# 6) reversed()
# compute the reverse of the given sequence object and returns it in form of list
s="python"
print(list(reversed(s)))
t=(30,20,40,50,10)
print(list(reversed(t)))
r=range(5,9)
print(list(reversed(r)))
l=[1,2,3,4,5]
print(list(reversed(l)))

['n', 'o', 'h', 't', 'y', 'p']
[10, 50, 40, 20, 30]
[8, 7, 6, 5]
[5, 4, 3, 2, 1]

In [27]:
#enumerate()
# if you pass a string in enumrate(),the output will show you the index and value for each character of the string
# syntax - enumerate(iterable,start=0)

In [1]:
s1="LJIET"
obj1=enumerate(s1)
print(obj1)
print(list(obj1))

for i,j in enumerate(s1,5):
    print(i,"-",j)

<enumerate object at 0x000001C9C8279540>
[(0, 'L'), (1, 'J'), (2, 'I'), (3, 'E'), (4, 'T')]
5 - L
6 - J
7 - I
8 - E
9 - T

In [3]:
l=["eat","sleep","repeat"]
for i,j in enumerate(l):
    print(i,"-",j)

0 - eat
1 - sleep
2 - repeat

In [4]:
t=(1,2,4,6,7,8,13,14,16)
evencount=0
oddcount=0
evenmini=0
oddmini=0
evenmaxi=0
oddmaxi=0
evensum=0
oddsum=0
even=()
odd=()
for i in range(len(t)):
    if t[i]%2==0:
        even+=(t[i],)
        evencount+=1
    else:
        oddcount+=1
        odd+=(t[i],)
print(odd)        
print(even)        
evenmini=min(even)
oddmini=min(odd)
evenmaxi=max(even)
oddmaxi=max(odd)
print("Total even numbers: ",evencount)
print("Total odd numbers: ",oddcount)
print("even min: ",evenmini)
print("even max: ",evenmaxi)
print("odd min: ",oddmini)
print("odd max: ",oddmaxi)

(1, 7, 13)
(2, 4, 6, 8, 14, 16)
Total even numbers:  6
Total odd numbers:  3
even min:  2
even max:  16
odd min:  1
odd max:  13

# Unit 5   Mutable data structures

#  1) list

In [2]:
# creation of list
l=[10]
print(l)
print(type(l))

[10]
<class 'list'>

In [7]:
# creation of list wit dynamic input 
l=eval(input("Enter lists: "))
print(l)
print(type(l))

Enter lists: "xyz"
xyz
<class 'str'>

In [8]:
#using list()
l=list(range(10,20,2))
print(l)
l="Arman"
x=list(l)
print(x)

[10, 12, 14, 16, 18]
['A', 'r', 'm', 'a', 'n']

In [10]:
#using split() function
s="Learning python is very easy"
l=s.split()
print(l)

['Learning', 'python', 'is', 'very', 'easy']

# Accessing the element of list

In [12]:
# 1) by using index()
l=[1,2,3,4,5]
print(l[0])
print(l[2])
# print(l[5])    # gives error

1
3

In [22]:
# by using slicing operation
l=[1,2,3,4,5,6,7,8,9]
print(l[2:7:2])
print(l[4::2])
print(l[::-1])
print(l[3:7])
print(l[8:2:-2])
print(l[9:0:-1])

[3, 5, 7]
[5, 7, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
[4, 5, 6, 7]
[9, 7, 5]
[9, 8, 7, 6, 5, 4, 3, 2]

In [24]:
# mathematical operators
# 1) concatenation (+)
a=[1,2,3]
b=[4,5,6]
c=a+b
print(c)
d=a+[4]
print(d)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4]

In [25]:
# 2) repetition (*)
l=[1,2,3]
x=l*2
print(x)

[1, 2, 3, 1, 2, 3]

In [26]:
# membership operator
l=[10,20,30,40,50]
print(10 in l)
print(10 not in l)
print(50 in l)
print(60 not in l)

True
False
True
True